img#group-photo{
    width: 100%;
}
.heading{
    text-align: center;
    width: 100%;
}


table,th, td{

    border: 1px solid black;
    border-collapse: collapse;
}
table{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    border: none;
  }
}

.detail-form {
  border: 1px solid black;
}

.pdf-view {
  border: 1px solid black;

}

.row {
  display: flex;
}

.column {
  flex: 50%;
  margin: 10px;
  padding: 10px;
}

nav {
  text-align: center;
  padding: 20px;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .column {
      width: 100%;
  }
  .row{
      display: block;
  }
}

textarea {
  width: 100%;
}