@font-face {
	font-family: 'ALGER';
	src: url('./ALGER.eot');
	src: local('ALGER'), url('./ALGER.woff') format('woff'), url('./ALGER.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_35162">Text with this font applied</p> */
.fontsforweb_fontid_35162 {
	font-family: 'ALGER' !important;
}

/* Font downloaded from FontsForWeb.com */