img#group-photo{
    width: 100%;
}
.heading{
    text-align: center;
    width: 100%;
}


table,th, td{

    border: 1px solid black;
    border-collapse: collapse;
}
table{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    border: none;
  }
}

.pdf-view , .detail-form{
  border:1px dotted black;
  border-radius: 10px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  margin: 10px;
  padding: 10px;
}

nav, footer {
  padding: 10px;
  background-color: #34568B;
  color: aliceblue;
  }

body {
  margin: 0;
}


* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
.mobile-text{
  display: none;
  margin: 10px;
}
@media screen and (max-width: 600px) {
  .column {
      width: 100%;
      margin: auto;
      padding: 20px;
      
  }
  .row{
      display: block;
  }

  footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .mobile-text{
    display: block;
  }
}

textarea {
  width: 100%;
}



button{
  background-color: #34568B;
  color: aliceblue;
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
}